body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

.app {
    padding: 20px;
    text-align: center;
}

button {
    padding: 12px 20px;
    margin-top: 20px;
    background: orange;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}